html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 50px 50px 50px 50px;
  height: 240px;
  box-sizing: border-box;
}

.navbar .pokemon-logo {
  width: 230px;
  height: 100px;
  transform: rotate(-5deg);
}

.content {
  display: flex;
  flex: 1;
  background: url("./images/bg.jpg") center no-repeat;
  background-size: cover;
}

.pokemon-ball {
  width: 80px;
  height: 80px;
  z-index: 1;
}

.pokemon-ball-big {
  position: absolute;
  left: 50px;
  top: 150px;
  width: 180px;
  height: 180px;
  z-index: 1;
}

.action-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.action-wrapper button {
  background-color: #df543d;
  border-radius: 15px;
  color: #ffffff;
  width: 180px;
  padding: 5px 0;
  margin-left: -20px;
  cursor: pointer;
  border: none;
}

.login-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  color: #ffffff;
  border: 20px solid #000000;
  border-radius: 50%;
  background-color: #df543d;
}

.login-wrapper .title {
  font-size: 24px;
  margin-bottom: 30px;
}

.login-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.login-row .login-row-title {
  font-size: 14px;
  margin-bottom: 4px;
}

.login-row .login-row-input {
  background-color: #000000;
  border-radius: 10px;
  padding: 0 10px;
}

.login-row .login-row-input input {
  width: 150px;
  border: none;
  background-color: transparent !important;
  color: #ffffff !important;
  outline: none;
}

.login-row button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #000000;
  padding: 3px 15px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: Combo;
}

/*form div {*/
/*  margin: 1em;*/
/*  display: inline-block;*/
/*}*/

.app {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /*justify-content: center;*/
  align-items: center;
  background: url("./images/game_page.png") no-repeat center;
  background-size: cover;
  height: 100%;
}

.game {
  width: 620px;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.stop-icon {
  width: 50px;
  height: 50px;
}

.timing {
  /*margin: 10px 0 20px;*/
  height: 20px;
  width: 300px;
  background-color: black;
  border-radius: 16px;
}
.timing-progress {
  height: 20px;
  width: 100%;
  background-color: #df543d;
  border-radius: 16px;
  transition: width 1s linear;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

.item {
  position: relative;
  margin-right: 5px;
}

.item-default-img {
  position: absolute;
  left: 0;
  top: 0;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-wrapper .modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 350px;
  background: url("./images/win_lose_page.jpg") no-repeat center;
  background-size: cover;
  border-radius: 30px;
  padding: 0 10px;
  color: #ffffff;
}

.modal-wrapper .modal-content > img {
  position: absolute;
  left: 50%;
  top: -86px;
  transform: translateX(-50%);
}

.modal-wrapper .modal-content > img.over {
  width: 250px;
}

.modal-wrapper .modal-content > img.star {
  width: 160px;
}

.modal-wrapper .modal-content .action-wrapper {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-wrapper .modal-content .action-wrapper button {
  width: 150px;
  background-color: black;
}
